/** -- Reset all styles ----*/
@import "~reset-css/sass/reset";

/** -- Typography ----------*/
@import "~@fontsource/roboto/index.css";

body {
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  font-size: 1.2rem;
  line-height: 1.6rem;
}

h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  text-align: justify;
}

a {
  color: $color-primary;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $color-primary-lighter;
  }
}
