$color-primary: #52B564;

$color-grey-900: #232323;
$color-grey-800: #303133;
$color-grey-700: #606266;
$color-grey-600: #909399;
$color-grey-500: #C0C4CC;
$color-grey-400: #DCDFE6;
$color-grey-300: #E4E7ED;
$color-grey-200: #EBEEF5;
$color-grey-100: #F2F6FC;