$color-primary: #52b564;
$color-primary-darker: darken($color-primary, 15%);
$color-primary-lighter: lighten($color-primary, 15%);

$color-grey-900: #232323;
$color-grey-800: #303133;
$color-grey-700: #606266;
$color-grey-600: #909399;
$color-grey-500: #c0c4cc;
$color-grey-400: #dcdfe6;
$color-grey-300: #e4e7ed;
$color-grey-200: #ebeef5;
$color-grey-100: #f2f6fc;
